.animated-bg {
    background: linear-gradient(-45deg, #1b3a97, #0099ff, #0f172a #10b981);
    background-size: 400% 400%;
    animation: gradientShift 18s ease infinite;
  }
  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  